<h1>Add Prospect</h1>

<div class="form">
  <%= form_tag(prospects_path) do %>
    <fieldset>
      <%= label_tag :first_name %>
      <%= text_field_tag :first_name %><br/>

      <%= label_tag :last_name %>
      <%= text_field_tag :last_name %><br/>

      <%= label_tag :team %>
      <%= text_field_tag :team %><br/>

      <%= label_tag :position %>
      <%= text_field_tag :position %><br/>

      <%= label_tag :rank %>
      <%= text_field_tag :rank %><br/>

      <%= submit_tag "Create Person" %>
    </fieldset>
  <% end %>
</div>